@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
   background: linear-gradient(135deg, #ebe9e3, #f5f5f5); 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

/* Fondo */
.fondo{
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 3px;
}

/* Carta */
.carta{
  width: 100%;
  height: 220px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,.2);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 1s;
}

/* 

.tapa{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,#c94f7c,#f8a1b8);
  clip-path: polygon(0 0,100% 0,50% 60%);
  z-index: 2;
  transition: 1s;
}

*/
.mensaje{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  z-index: 1;
}

.mensaje h2{
  font-family: 'Playfair Display', serif;
  color: #b03060;
  font-size: 1.5em;
}

.mensaje p{
  color: #666;
}

/* Animación abrir */
.carta.abierta .tapa{
  transform: rotateX(180deg);
}

.carta.abierta{
  transform: translateY(-40px);
}

/* Invitación */
.contenido{
  display: none;
  margin-top: 20px;
  background: white;
  
  padding: 25px;
  box-shadow: 0 15px 40px rgba(0,0,0,.15);
  animation: aparecer 1.5s;
}

@keyframes aparecer{
  from{opacity:0; transform: translateY(30px);}
  to{opacity:1;}
}

.contenido h1{
  font-family: 'Playfair Display', serif;
  color: #b03060;
  font-size: 2em;
}

.sub{
  color: #777;
  margin-bottom: 20px;
}

/* Fecha */
.fecha{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.fecha span{
  font-size: 2.5em;
  color: #b03060;
  font-weight: bold;
}

.fecha small{
  display: block;
  color: #555;
}

/* Texto */
.ll{
  margin: 15px 0;
  color: #555;
}

/* Formulario */
.formulario{
  margin-top: 20px;
}

.formulario h3{
  color: #b03060;
  margin-bottom: 10px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1em;
}

input:focus{
  border-color: #b03060;
}

.check{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9em;
  color: #444444;
}

button{
  margin-top: 10px;
  background: linear-gradient(120deg, #FFD700, #bb8e09b7);

  border: none;
  color: white;
  padding: 12px;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  transition: .3s;
}

button:hover{
  transform: scale(1.05);
}
.file{
  display: block;
  padding: 12px;
  border-radius: 30px;
  background: #f8a1b8;
  color: rgb(161, 13, 13);
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}




/*Perfil */


.upload-content{
    text-align: center;
    color:#ff477e;
    font-weight: bold;
}

/* Imagen general (foto subida) */
.upload-content img{
    width:120px;
    height:120px;
    border-radius:50%;    /* redonda */
    object-fit:cover;
    margin-bottom:10px;
    transition:0.4s;
}

/* Ícono por defecto */
.upload-content img.icono{
    width:50px;           /* ícono pequeño */
    height:50px;
    border-radius:50%;     /* redondo */
    opacity:0.7;
    margin-bottom:10px;
    object-fit:contain;
}
.imagen {
    background-image: url('descarga.png');
    background-size: cover;      /* cubre todo el contenedor */
    background-position: center; /* centrado */
    background-repeat: no-repeat;
    width: 100%;
    height: 310px;               /* ocupa toda la pantalla */
    position: relative;          /* necesario para posicionar el texto */
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* Texto centrado */
.texto-centrado {
    position: absolute;
    top: 28%;               /* sube el texto hacia arriba (antes estaba 50%) */
    left: 50%;              /* centrado horizontal */
    transform: translateX(-50%); /* solo centra horizontalmente */
    text-align: center;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}


.texto-centrado h3 {
    font-size: 1em;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    color: darkgoldenrod;
}

.texto-centrado p {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}



.cuenta-contenedor {
    width: 100%;
    padding: 20px;
    background: #f5f5f5;       /* fondo gris suave */
    display: flex;
    justify-content: center;
    text-align: center;
}

#cuenta-regresiva {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #b03060;            /* color bonito para destacar */
    display: flex;
    gap: 15px;
}